In [60]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn import svm
from sklearn.model_selection import GridSearchCV

In [61]:
df= pd.read_csv("spamtext.csv")

In [62]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [63]:
df.groupby('Category').count()

          Message
Category
ham          4825
spam          747

In [64]:
df['Message'] = df['Message'].str.replace('\W+', ' ').str.replace('\s+', ' ').str.strip()
df['Message'] = df['Message'].str.split()

In [65]:
df

     Category                                            Message
0         ham  [Go, until, jurong, point, crazy, Available, o...
1         ham                     [Ok, lar, Joking, wif, u, oni]
2        spam  [Free, entry, in, 2, a, wkly, comp, to, win, F...
3         ham  [U, dun, say, so, early, hor, U, c, already, t...
4         ham  [Nah, I, don, t, think, he, goes, to, usf, he,...
...       ...                                                ...
5567     spam  [This, is, the, 2nd, time, we, have, tried, 2,...
5568      ham       [Will, ü, b, going, to, esplanade, fr, home]
5569      ham  [Pity, was, in, mood, for, that, So, any, othe...
5570      ham  [The, guy, did, some, bitching, but, I, acted,...
5571      ham                   [Rofl, Its, true, to, its, name]

[5572 rows x 2 columns]

In [66]:
X = df['Message']
Y= df['Category']

In [67]:
X.shape

(5572,)

In [68]:
Y.shape

(5572,)

In [69]:
x_train,y_train = X[0:4400],Y[0:4400]
x_test,y_test = X[4400:],Y[4400:]

In [74]:
cv = CountVectorizer(tokenizer=lambda doc: doc, lowercase=False)
bag_of_words = cv.fit_transform(x_train)

In [71]:
tuned_parameters = {'kernel': ['rbf','linear'], 'gamma': [1e-3, 1e-4],
                     'C': [1, 10, 100, 1000]}
model = GridSearchCV(svm.SVC(), tuned_parameters)
model.fit(bag_of_words,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [1, 10, 100, 1000], 'gamma': [0.001, 0.0001],
                         'kernel': ['rbf', 'linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [72]:
print(model.best_params_)

{'C': 10, 'gamma': 0.001, 'kernel': 'linear'}

In [76]:
print(model.score(cv.transform(x_test),y_test))

0.9880546075085325